@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

#out-text {
	font-family: 'Alef Hebrew', serif;
	font-size: 15px;
	background-color: #eeeeee;
	display: block;
	width: 500px;
}

.W_W_T {
	color: #ff0000;
}
